.sidebar{
  float:left;
  margin-left:5%;
  width:20%;
  height: 150px;
  background-color: blue;
  display: inline-block;
}

.latestBox, .videosBox, .articlesBox{
  width:100%;
  height:50px;
  background-color: white;
  vertical-align: middle;
  border: none;
}

.navButton{
  color: gray;
  font-size: 18px;
  font-weight: bold;
  float:left;
}

.latestBox:hover, .videosBox:hover, .articlesBox:hover{
  background-color: #B51012;
}

.latestBox:hover .navButton{
  color:white;
}

.videosBox:hover .navButton{
  color:white;
}

.articlesBox:hover .navButton{
  color:white;
}

p {
  margin: 0;
  padding: 0;
  line-height:50px;
}

.icon {
  display: inline-block;
  float: left;
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 2%;
}


.latestBox:hover .pathFill {
   fill: white;
}

.videosBox:hover .pathFill {
   fill: white;
}

.articlesBox:hover .pathFill {
   fill: white;
}
