.wrap{
  height: 200px;
  width:100%;
  display: inline-block;
  float: left;
}

.articleBox {
  height: 172px;
  width: 100%;
  position:absolute;
  margin-bottom: 100px;
  padding:10px 10px 38px 34px;
}

.pictureBox {
  height: 172px;
  width: 306px;
  background-color: white;
  display: inline-block;
  position: relative;
}

.textBox {
  height: 172px;
  width: 306px;
  display: inline-block;
  background-color: white;
}

.topRight {
  position: relative;
  float: left;
  margin-left: 5%;
}

.title {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.dateComments {
  padding-bottom: 15px;
  color: #B51012;
  font-weight: bold;
}

.bodyText {
  float:left;
  margin-left: 5%;
}

.videoTime {
  width:65px;
  height:30px;
  background-color: #B51012;
  border-radius: 10%;
  position: absolute;
  left: 0;
  top: 142px;
  display: inline-block;
}

.videoText {
  margin-top: 2px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.playButton {
  margin-top: 2px;
  margin-left: 2px;
  display: inline-block;
  float: left;
}

.chatIcon {
  float: left;
}

@media(max-width:500px) {

  .articleBox {
    height: 172px;
    width: 100%;
    position:absolute;
    margin-bottom: 100px;
    margin-left: 0px;
    padding:10px 10px 38px 0px;
  }

  }

  @media(min-width:601px) and (max-width:961px) {

    .articleBox {
      height: 172px;
      width: 100%;
      position:absolute;
      margin-bottom: 100px;
      margin-left: 18%;
      padding:10px 10px 38px 45px;
    }

    }

@media(max-width:961px) {

  .wrap{
    height: 400px;
    width:100%;
    display: block;
    float: left;
  }

  .pictureBox {
    height: 172px;
    width: 306px;
    background-color: white;
    display: block;
    position: relative;
    margin-bottom: 10px;
  }

  .textBox {
    height: 172px;
    width: 306px;
    display: block;
    background-color: white;
  }

  .articleLine {
    width: 306px;
    float: left;
  }

  }
