.newsBox {
  display: inline-block;
  height: 100%;
  width: 65%;
  float: left;
  position: relative;
}

.listContainer {
  height: 100%;
  width: 100%;
}

@media(max-width:961px) {
  .newsBox{
    float:none;
    margin-top: 50px;
  }
}
