.newsBox {
  display: inline-block;
  height: 100%;
  width: 65%;
  float: left;
  position: relative;
}

.listContainer {
  height: 100%;
  width: 100%;
}

@media(min-width:800px) {
  .newsBox{
    display: block;
  }
  p{
    color:red;
  }
}
