h1 {
  text-align: left;
  margin-left: 5%;
  margin-bottom: 5px;
}

hr {
  width: 90%;
  border: 1.5px solid #EAEAEA;
}

@media(max-width:961px) {
  h1 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
